= paginate @entries

#check-menu
  = button_tag "All Check", class: %w(btn btn-default js-all-check)
  = button_tag "Clear", type: "reset", class: %w(btn btn-default js-all-uncheck)
  = link_to "Get Inventory", inventory_jobs_path, remote: true, method: :post, class: %w(btn btn-default js-retrieve-inventory)

= form_tag bulk_create_archive_jobs_path, remote: true, id: "bulk-archive-form" do
  = submit_tag("Bulk Archive", class: %w(btn btn-primary))
  %table.table
    %thead
      %tr
        %th.target-check
        %th.entry_name
          name
        %th.size
          filesize
        %th.action
    %tbody
      - if current_path.present?
        %tr
          %td.target-check
          %td.entry_name= link_to "..", parent_path(current_path)
          %td.size
          %td.action

      - @entries.each do |entry|
        - if archive_job = @loaded_archive_jobs[entry.fullpath]
          - if archive = @loaded_archives[archive_job.first.jid]
            = render "archived_entry", entry: entry, archive: archive.first
          - else
            = render "archive_jobed_entry", entry: entry
        - else
          = render "entry", entry: entry
= paginate @entries
