!!! 5
%html
  %head
    %title Savant Time
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse{role: "navigation"}
      .navbar-header
        = link_to "Savant Time", root_path, class: "navbar-brand"
      .navvar-collapse.navbar-inverse-collapse
        %ul.nav.navbar-nav
          %li
            = link_to "Home", entries_path
          %li
            = link_to "Archives", archives_path

    #main.container-fluid
      = yield
