<!DOCTYPE html>
<html>
<head>
  <title>SavantTime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Get Inventory", inventory_jobs_path, remote: true, method: :post, class: [:btn, "retrieve-inventory"] %>
<%= yield %>

</body>
</html>
